In [1]:
#Q-1. Write a Python script to sort (ascending and descending) a dictionary by value.
dict1 = {3: 30, 1: 10, 2: 20}
sort_asc = dict(sorted(dict1.items(), key=lambda x: x[1]))
sort_desc = dict(sorted(dict1.items(), key=lambda x: x[1], reverse=True))
print("Ascending", sort_asc)
print("Descending", sort_desc)

Ascending {1: 10, 2: 20, 3: 30}
Descending {3: 30, 2: 20, 1: 10}

In [2]:
#Q-2. Write a Python script to add a key to a dictionary.
dict1[2] = 30
print(dict1)

{3: 30, 1: 10, 2: 30}

In [3]:
#Q-3. Write a Python script to concatenate the following dictionaries to create a new one.
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
concat = {**dic1, **dic2, **dic3}
print(concat)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [4]:
#Q-4. Write a Python script to check whether a given key already exists in a dictionary.If exists then print the value corresponding to that key else print "key not found" error message.(Use: Try..Except block)
key = 2
try:
    value = dict1[key]
    print(key, ":", value)
except KeyError:
    print("Key not found")

2 : 30

In [1]:
#Q-5. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x^3). Take n from user
n = int(input('enter a number'))
cube = {i: i ** 3 for i in range(1, n + 1)}
print(cube)

enter a number5
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [2]:
#Q-6. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.
squares = {i: i ** 2 for i in range(1, 16)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [4]:
#Q-7. Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
combined = dict(zip(keys, values))
print(combined)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [3]:
#Q-8. Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
merged = {**dict1, **dict2}
print(merged)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [5]:
#Q-9. Delete a list of keys from a dictionary
s = {"name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
remove = ["name", "salary"]
for key in remove:
    s.pop(key, None)
print(s)

{'age': 25, 'city': 'New york'}

In [6]:
#Q-10. Rename key of a dictionary Write a program to rename a key city to a location in the following dictionary.
s = {"name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
s["location"] = s.pop("city")
print(s)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [7]:
#Q-11. Get the key of a minimum value from the following dictionary
s2 = {'Physics': 82, 'Math': 65, 'History': 75}
min_key = min(s2, key=s2.get)
print(min_key)

Math

In [8]:
#Q-12. Write a Python program to change Brad’s salary to 8500 in the following dictionary.
empl = {'emp1': {'name': 'Jhon', 'salary': 7500},
                  'emp2': {'name': 'Emma', 'salary': 8000},
                  'emp3': {'name': 'Brad', 'salary': 500}}
empl['emp3']['salary'] = 8500
print(empl)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [9]:
#Q-13. Print the value of key ‘history’ from the below dict.
 
s = {"class": {"student": {"name": "Mike", "marks": {"physics": 70, "history": 80}}}}
value = s['class']['student']['marks']['history']
print(value)

80

In [12]:
#Q-15. Write a Python program to print all distinct values in a dictionary.
s1 = [{"V": "S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},
               {"VII": "S005"}, {"V": "S009"}, {"VIII": "S007"}]
a1 = {i for d in s1 for i in d.values()}
print(a1)

{'S001', 'S009', 'S002', 'S007', 'S005'}

In [5]:
#Q-16. Write a Python program to combine values in a list of dictionaries.
s= [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300},
               {'item': 'item1', 'amount': 750}]
c = {}
for i in s:
    c[i['item']] = c.get(i['item'], 0) + i['amount']
print(c)

{'item1': 1150, 'item2': 300}